---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import getReadingTime from "@utils/getReadingTime";
import getGithubEditUrl from "@utils/getGithubEditUrl";
import { SITE } from "@config";

export interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const postResult = posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
  // const pagePaths = getPageNumbers(posts.length).map(pageNum => ({
  //   params: { slug: String(pageNum) },
  // }));
  // return [...postResult, ...pagePaths];
  return [...postResult];
}

const { slug } = Astro.params;
const { post } = Astro.props;
const {
  title: postTitle,
  author,
  ogImage,
  heroImage,
  publishDate,
  tags,
} = post.data;
let { description } = post.data;

const { Content } = await post.render();

const readingTime = getReadingTime(post.body);

const ogUrl = new URL(ogImage ? ogImage : `${slug}.svg`, Astro.url.origin).href;

const seoTitle = `${postTitle} - ${SITE.seoTitle}`;
const maxDescription = 160;

// shorten with ellipsis without cutting off words
if (description.length > maxDescription) {
  const lastSpace = description.slice(0, maxDescription).lastIndexOf(" ");
  description = `${description.slice(0, lastSpace)}...`;
}
---

<Layout
  headProps={{
    seoTitle,
    description,
    ogImage: ogUrl,
    type: "article",
    publishDate,
    author,
  }}
  githubEditUrl={getGithubEditUrl("/src/pages/posts/[slug].astro")}
>
  <style>
    .title {
      font-size: 2em;
      margin: 0.25em 0 0;
    }
    hr {
      border-top: 1px solid #ddd;
      margin: 1rem 0;
    }
    time,
    readingtime {
      color: #a0a0a0;
    }
    html.dark time,
    html.dark readingtime {
      color: #9f9f9f;
    }
  </style>
  <article
    role="article"
    class="prose mx-auto mb-4 mt-8 max-w-3xl px-3 sm:px-0"
  >
    {heroImage && <img src={heroImage} alt={postTitle} />}
    <h1 class="title">{postTitle}</h1>
    <div class="flex justify-between">
      {publishDate && <time>{publishDate}</time>}
      <readingtime>{readingTime} minutes to read</readingtime>
    </div>
    <hr />
    <Content />
    <!-- <ul class="tags-container">
      {tags.map(tag => <Tag name={tag} />)}
    </ul> -->
  </article>
</Layout>
