---
import { SITE } from "../config";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { MarkdownLayoutProps } from "astro";
import getSortedPosts from "@utils/getSortedPosts";

import type { Frontmatter } from "../types";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;

const { title } = Astro.props.frontmatter || Astro.props;

// const { frontmatter } = Astro.props;
const posts = await Astro.glob<Frontmatter>("./blog/**/*.md");
export async function getStaticPaths() {
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
// Use Astro.glob() to fetch all posts, and then sort them by date.
const sortedPosts = getSortedPosts(posts);

const headTitle = `${title} - ${SITE.title}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={headTitle} description={SITE.desc} />
  </head>
  <body>
    <Header />
    <main>
      <section id="recent-posts">
        <ul>
          {
            sortedPosts.map((post) => (
              <li>
                <time datetime={post.frontmatter.publishDate}>
                  {new Date(post.frontmatter.publishDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body><!--  -->
</html>
