---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const banner = {
  title: t("banner.title"),
  linkTitle: t("banner.linkTitle"),
  linkHref: "/free-class",
};
---

<!-- <div
  class="mb-4 flex items-center rounded-xl bg-gray-100 p-1 text-sm dark:bg-gray-800"
>
  <span
    class="from-primary-300 text-primary-700 dark:from-primary-900 dark:text-primary-400 text-xxs mr-2 inline-flex items-center rounded-lg bg-gradient-to-br px-2 py-1 font-medium uppercase leading-3"
    >New</span
  >
  {banner.title}
  <div class="ml-auto shrink-0">
    <a
      target="_blank"
      href={banner.linkHref}
      class="mr-2 flex items-center underline hover:no-underline"
      >{banner.linkTitle}</a
    >
  </div>
</div> -->
<div class="bg-indigo-600">
  <div
    class="mx-auto max-w-screen-xl scroll-py-32 items-center justify-center gap-x-4 px-3 py-4 text-white sm:flex sm:py-3 md:px-8"
  >
    <p class="pb-2 font-medium sm:py-2" set:html={banner.title} />
    <a
      href={banner.linkHref}
      class="mt-3 inline-block w-full flex-none rounded-lg bg-white px-3 py-2 text-center font-medium text-indigo-600 duration-150 hover:bg-gray-100 active:bg-gray-200 sm:mt-0 sm:w-auto sm:text-sm"
    >
      {banner.linkTitle}
    </a>
  </div>
</div>
