---
// import dayjs from 'dayjs'
import type { BlogFrontmatter } from "@content/_schemas";
export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}
const { frontmatter: post } = Astro.props;
if (post.publishDate) {
  post.publishDate = new Date(post.publishDate).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
}
---

<a
  href={`/posts/${post.blogSlug}/`}
  class="relative top-0 block h-full overflow-hidden rounded-xl bg-white shadow-lg transition-all duration-75 ease-in-out hover:-top-2 hover:shadow-xl"
  data-test="article-card"
>
  <img
    class="squiggle"
    src={post.heroImage}
    alt={post.title}
    width="360"
    height="192"
  />
  <div class="px-8 py-6">
    <h2 class="text-2xl font-bold leading-tight dark:text-black">
      {post.title}
    </h2>
    <p class="mt-4 flex items-center text-xs text-gray-600">
      {post.publishDate}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
