---
// import dayjs from 'dayjs'
import type { BlogFrontmatter } from '@content/_schemas';
export interface Props {
  lang: string;
  frontmatter: BlogFrontmatter & { url: string };
}

const { frontmatter: post, lang } = Astro.props;

if (post.publishDate) {
  post.publishDate = new Date(post.publishDate).toLocaleDateString(lang, {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
}
---

<a
  class="relative top-0 block h-full overflow-hidden rounded-xl bg-white shadow-lg transition-all duration-75 ease-in-out hover:-top-2 hover:shadow-xl"
  href={post.url}
>
  <img class="squiggle" src={post.heroImage} alt={post.title} width="360" height="192" />
  <div class="px-6 py-6">
    <h2 class="text-2xl font-bold leading-tight dark:text-black">
      {post.title}
    </h2>
    <p class="mt-4 flex items-center text-xs text-gray-600">
      {post.publishDate}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>
