---
import Layout from "./Layout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    publishDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, publishDate, updatedDate, heroImage },
} = Astro.props;
---

<Layout title={title} description={description} ogImage={heroImage}>
  <style>
    .title {
      font-size: 2em;
      margin: 0.25em 0 0;
    }
    hr {
      border-top: 1px solid #ddd;
      margin: 1rem 0;
    }
    time {
      color: #a0a0a0;
    }
  </style>
  <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
    {heroImage && <img src={heroImage} alt="" />}
    <h1 class="title">{title}</h1>
    {publishDate && <time>{publishDate}</time>}
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }
    <hr />
    <slot />
  </article>
</Layout>
